body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;
    font-size: 50px;
    margin-top: 20px;
}

h2 {
    color: #000000;
}
